/* Default styles for light mode */

body {
  font-family: Arial, sans-serif;
  font-size: 8px;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
}






/* Add any additional styles for your website's light mode here */
